<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Results</h4>
    <p>usable models</p>
    {% for model in results["models_name"] %}
        <p>{{ model }}</p>
    {% endfor %}
    <p>root path</p>
    <p>{{ results["root_path"] }}</p>
    <p>videos in cord</p>
    {% for seq_all in results["seq_info"] %}
        <p>{{ seq_all }}</p>
    {% endfor %}
    <p>videos have gt labels</p>
    {% for seq_with in results["seq_with_label"] %}
        <p>{{ seq_with }}</p>
    {% endfor %}
    <p>videos without gt labels</p>
    {% for seq_without in results["seq_without_label"] %}
        <p>{{ seq_without }}</p>
    {% endfor %}
    <p>successful gen_info</p>
    <p><b><a href = '/train_html'>click here to return to start training</a></b></p>
    <p><b><a href = '/track_html'>click here to return to start tracking</a></b></p>

</body>
</html>


