<!DOCTYPE html>
<html lang="en">
<style>

    /*.collapse {
        background-color: #a2de96;
        border: none;
        outline: none;
        font-size: 25px;
    }*/

    .active,
    .collapse:hover {
        background-color: #438a5e;
    }

    /*.text {
        background-color: #e1ffc2;
        display: none;
        font-size: 20px;
    }*/
    .text-center {
    text-align: center;}

    form {
    text-align: center;}

    h1 {text-align: center;}
    h4 {text-align: center;}
    p {text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>The Main Page</h1>

    <form action = "http://localhost:5000/login" method = "post"
        enctype = "multipart/form-data">
         <p>Enter Project ID & API key:</p>
         <label for="pid">Project ID:</label><br>
		 <input type="text" id="pid" name="pid"><br>
         <label for="api">API key:</label><br>
         <input type="text" id="api" name="api">
         <p><input type = "submit" value = "generate project information" /></p>
    </form>
    <p><input type="button" value="click here to clean the downloaded files" onclick="window.open('/clean')"/></p>
    <p><input type="button" value="click here to restore the gt data on cord platform" onclick="window.open('/restore')"/></p>
    <p><input type="button" value="click here to clean all the models except pretrained one" onclick="window.open('/clean_all')"/></p>
    <script>
        var btn = document.getElementsByClassName("collapse");

        btn[0].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });

    </script>
</body>
</html>
