<!DOCTYPE html>
<html lang="en">
<style>

    /*.collapse {
        background-color: #a2de96;
        border: none;
        outline: none;
        font-size: 25px;
    }*/

    .active,
    .collapse:hover {
        background-color: #438a5e;
    }

    /*.text {
        background-color: #e1ffc2;
        display: none;
        font-size: 20px;
    }*/
    .text-center {
    text-align: center;}

    form {
    text-align: center;}

    h1 {text-align: center;}
    h4 {text-align: center;}
    p {text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>The Main Page</h1>

    <form action = "http://localhost:5000/login" method = "post"
        enctype = "multipart/form-data">
         <p>Enter Project ID & API key:</p>
         <label for="pid">Project ID:</label><br>
		 <input type="text" id="pid" name="pid"><br>
         <label for="api">API key:</label><br>
         <input type="text" id="api" name="api">
         <p><input type = "submit" value = "generate project information" /></p>
    </form>
    <h4>Type in the information needed for training</h4>
    <h4>Type the videos that you want to use for training or leave blank for training all the trainable seqs</h4>
    <form action = "http://localhost:5000/train" method = "post">
         <label for="train_seq">Training videos:</label><br>
		 <input type="text" id="train_seq" name="train_seq"><br>
         <label for="model_type">The type of model:</label>
         <select class="form-control" id="model_type" name="model_type">
             <option></option>
             <option selected="selected">-- Choose --</option>
             <option>dla_34</option>
             <option>hrnet_18</option>
             <option>resdcn_34</option>
         </select><br>
         <label for="batch">Batch size:</label><br>
         <input type="text" id="batch" name="batch"><br>
         <label for="lr">Learning rate:</label><br>
         <input type="text" id="lr" name="lr"><br>
         <label for="epoch">Number of training epoch:</label><br>
         <input type="text" id="epoch" name="epoch"><br>
         <p><label for="output_format">The tracking results output format:</label>
         <select class="form-control" id="output_format" name="output_format">
             <option selected="selected">-- Choose --</option>
             <option>text</option>
             <option>video</option>
         </select><br></p>

    <button type="button" class="collapse">
    Open the advanced settings (collapsible)
    </button>

    <div class="foldedform">
         <p> Do you want to randomly split the dataset?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="rand_split" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="rand_split" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <label for="split_perc">Train test split ratio:</label><br>
         <input type="text" id="split_perc" name="split_perc"><br>
         <label for="rseed">Random seed:</label><br>
         <input type="text" id="rseed" name="rseed"><br>
         <label for="exp_id">Model saving directory:</label><br>
         <input type="text" id="exp_id" name="exp_id"><br>
         <label for="drop">Learning rate drop epoch:</label><br>
         <input type="text" id="drop" name="drop"><br>
         <label for="name">Data paths saving name:</label><br>
         <input type="text" id="name" name="name"><br>
         <p> Do you want to add the test dataset for training?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="add_test" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="add_test" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <p> Do you want to plot the training process loss curve?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="plot_loss" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="plot_loss" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <p> Do you want to save the total training time?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="save_time" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="save_time" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <label for="exp_name">Tracking results folder name:</label><br>
         <input type="text" id="exp_name" name="exp_name"><br>
         <p> Do you want to save the total tracking time?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="track_time" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="track_time" value="False" type="radio" checked="checked"> No
            </div>
         </div>
    </div>
    <p><input type = "submit" value = "Start training model" /></p>
    </form>

    <h4>Type in the information needed for tracking</h4>
    <h4>Type in the videos on the cord platform that you want to directly track or upload your own video</h4>
    <form action = "http://localhost:5000/track" method = "post"
        enctype = "multipart/form-data">
         <label for="videos">Tracking videos:</label><br>
		 <input type="text" id="videos" name="videos"><br>
         <label for="model_type">The type of pre-trained model:</label>
         <select class="form-control" id="model_type" name="model_type">
             <option selected="selected">-- Choose --</option>
             <option>dla_34</option>
             <option>hrnet_18</option>
         </select>
         <p><label for="output_format">The tracking results output format:</label>
         <select class="form-control" id="output_format" name="output_format">
             <option selected="selected">-- Choose --</option>
             <option>text</option>
             <option>video</option>
         </select><br></p>
         <p> Please upload the video that you want to track</p>
         <input type = "file" name = "file" />
         <p> Do you want to upload the tracking results to cord platform?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="visual" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="visual" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <p><input type = "submit" value = "Tracking" /></p>
    </form>
    <b><a href = '/restore'>click here to restore the gt data on cord platform</a></b>
    <b><a href = '/clean'>click here to clean the downloaded files</a></b>

    <script>
        var btn = document.getElementsByClassName("collapse");

        btn[0].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });

    </script>
</body>
</html>
