<!DOCTYPE html>
<html lang="en">
<style>

    /*.collapse {
        background-color: #a2de96;
        border: none;
        outline: none;
        font-size: 25px;
    }*/

    .active,
    .collapse:hover {
        background-color: #438a5e;
    }

    /*.text {
        background-color: #e1ffc2;
        display: none;
        font-size: 20px;
    }*/
    .text-center {
    text-align: center;}

    form {
    text-align: center;}

    h1 {text-align: center;}
    h4 {text-align: center;}
    p {text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Type in the information needed for tracking</h4>
    <h4>Type in the videos on the cord platform that you want to directly track or upload your own video</h4>
    <form action = "http://localhost:5000/track" method = "post"
        enctype = "multipart/form-data">
         <label for="videos">Tracking videos:</label><br>
         <p>{% for seq in seqs %}
             <input type="checkbox" id="videos" name="videos" value={{ seq }} />{{ seq }}
         {% endfor %}</p>
         <label for="model_type">Model selection:</label>
         <select class="form-control" id="model_type" name="model_type">
             <option selected="selected">-- Choose --</option>
             {% for model in models %}
                <option>{{ model }}</option>
             {% endfor %}
         </select>
         <p><label for="output_format">The tracking results output format:</label>
         <select class="form-control" id="output_format" name="output_format">
             <option selected="selected">-- Choose --</option>
             <option>text</option>
             <option>video</option>
         </select><br></p>
         <p> Please upload the video that you want to track</p>
         <input type = "file" name = "file" />
         <p> Do you want to upload the tracking results to cord platform?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="visual" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="visual" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <p> Do you want to overwrite gt labels on cord platform if exist?</p>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <input name="overwrite" value="True" type="radio"> Yes
            </div>
            <div class="col-sm-2 ">
                <input name="overwrite" value="False" type="radio" checked="checked"> No
            </div>
         </div>
         <p><input type = "submit" value = "Tracking" /></p>
    </form>
    <script>
        var btn = document.getElementsByClassName("collapse");

        btn[0].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });

    </script>
</body>
</html>
