<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
</head>
<body>

<img src={{url}} width="1280" height="720">
<!--      <form action = "http://localhost:5000/img" method = "post">-->
<!--         <p>Enter Project ID & API key:</p>-->
<!--         <p><input type = "submit" value = "show image" /></p>-->
<!--      </form>-->

</body>
</html>